.friend p {
    float: left;
    padding-left: 10px;
}
.friend img {
    float: left;
}
.friend {
    background-color: white;
    float: left;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 320px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}

#selected-friends {
    background-color: #eee;
    overflow: hidden;
}

#selected-friends.activated {
    background-color: #dde;
}